@charset "utf-8";

html,
body,
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
}

a img {
  border-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

img {
  vertical-align: top;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  text-align: left;
  line-height: 1.5;
}

html {
  position: relative;
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  color: #1a1a1a;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
}
